<!doctype html>
<html lang="ru">
<head>
    <title>Тёмная сторона JavaScript</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
        <meta name="theme-color" content="#564a4e">
    
    <link rel="stylesheet" href="/theme/css/main.css" />
    <link rel="stylesheet" href="/theme/css/pygment.css" />

    <script type="text/javascript" src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
</head>
<body>
    <h4 class="site-name">Магия на кончиках пальцев</h4>
    <article>
        <header style="background-image: url(                /images/cover4.jpg
);background-position: center 25%;
        ">
            <div class="content">
                <h1>Тёмная сторона JavaScript</h1>

                <div class="summary"><p>Баги и малоизвестные особенности JavaScript</p></div>
            </div>
        </header>
        
        <div class="text content">
            <div class="info">
                <div>Публикация от
                    <b><time pubdate datetime="2016-03-13T00:00:00+07:00">
                        13 
                        марта 
                        2016
                    </time></b>
                </div>
                <div>Издание от
                    <b><span class="last_updated">
                        11
                        апр. 
                        2016
                    </span></b>
                </div>
                <div class="tags">
                        #<a href="/index.html?q=%23bugs">bugs</a>
                        #<a href="/index.html?q=%23js">js</a>
                </div>
                <div class="category">
                    /<a href="/index.html?q=%2Ftutorial">tutorial</a>
                </div>
            </div>

            <h2>typeof null</h2>
<p>Это оффициально признанный баг <sup id="fnref:MDN:null"><a class="footnote-ref" href="#fn:MDN:null" rel="footnote">5</a></sup>, не фиксищейся для поддержки совместимости со старым кодом <sup id="fnref:type-detection"><a class="footnote-ref" href="#fn:type-detection" rel="footnote">1</a></sup><sup id="fnref:C-null"><a class="footnote-ref" href="#fn:C-null" rel="footnote">2</a></sup>.
<code>typeof null</code> возвращает <code>"object"</code>, однако <strong>null</strong> не является объектом <sup id="fnref:MDN:null"><a class="footnote-ref" href="#fn:MDN:null" rel="footnote">5</a></sup>, и что хуже, не ведёт себя как объект.</p>
<div class="highlight"><pre><span class="k">typeof</span> <span class="kc">null</span>     <span class="c1">// &quot;object&quot;</span>

<span class="kd">var</span> <span class="nx">z</span> <span class="o">=</span> <span class="kc">null</span><span class="p">;</span>   <span class="c1">// null</span>
<span class="nx">z</span><span class="p">.</span><span class="nx">prop</span> <span class="o">=</span> <span class="mi">1</span>      <span class="c1">// TypeError: z is null</span>
</pre></div>


<p>Если мы заглянем в код библиотеки underscore.js <sup id="fnref:underscore"><a class="footnote-ref" href="#fn:underscore" rel="footnote">4</a></sup>, то увидим такую функцию как <code>isObject()</code>, как раз правильно проверяющую на тип объекта.</p>
<div class="highlight"><pre><span class="c1">// версия 1.6.0 (2014)</span>
<span class="nx">_</span><span class="p">.</span><span class="nx">isObject</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">obj</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">obj</span> <span class="o">===</span> <span class="nb">Object</span><span class="p">(</span><span class="nx">obj</span><span class="p">);</span>
<span class="p">};</span>

<span class="c1">// версия 1.8.3 (2015)</span>
<span class="c1">// соответствует lodash</span>
<span class="nx">_</span><span class="p">.</span><span class="nx">isObject</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">obj</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">type</span> <span class="o">=</span> <span class="k">typeof</span> <span class="nx">obj</span><span class="p">;</span>
    <span class="k">return</span> <span class="nx">type</span> <span class="o">===</span> <span class="s1">&#39;function&#39;</span> <span class="o">||</span> <span class="nx">type</span> <span class="o">===</span> <span class="s1">&#39;object&#39;</span> <span class="o">&amp;&amp;</span> <span class="o">!!</span><span class="nx">obj</span><span class="p">;</span>
<span class="p">};</span>

<span class="nx">_</span><span class="p">.</span><span class="nx">isObject</span><span class="p">(</span><span class="kc">null</span><span class="p">)</span>    <span class="c1">// false</span>
</pre></div>


<p>А также функцию <code>isNull()</code> проверяющую на соответствие <code>null</code> (тоже самое в lodash):</p>
<div class="highlight"><pre><span class="nx">_</span><span class="p">.</span><span class="nx">isNull</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">obj</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">obj</span> <span class="o">===</span> <span class="kc">null</span><span class="p">;</span>
<span class="p">};</span>

<span class="nx">_</span><span class="p">.</span><span class="nx">isNull</span><span class="p">(</span><span class="kc">null</span><span class="p">)</span>      <span class="c1">// true</span>
<span class="nx">_</span><span class="p">.</span><span class="nx">isNull</span><span class="p">({})</span>        <span class="c1">// false</span>
<span class="nx">_</span><span class="p">.</span><span class="nx">isNull</span><span class="p">(</span><span class="kc">undefined</span><span class="p">)</span> <span class="c1">// false</span>
<span class="nx">_</span><span class="p">.</span><span class="nx">isNull</span><span class="p">(</span><span class="kc">NaN</span><span class="p">)</span>       <span class="c1">// false</span>
</pre></div>


<h2>Что есть NaN?</h2>
<p>Возможно вы не знаете, но <code>NaN</code> является числом <sup id="fnref:ECMA262"><a class="footnote-ref" href="#fn:ECMA262" rel="footnote">3</a></sup> <em>(и не важно, что <strong>NaN</strong> акроним от <strong>Not a Number</strong>)</em>, 
просто это число никогда не равно самому себе <sup id="fnref:type-detection"><a class="footnote-ref" href="#fn:type-detection" rel="footnote">1</a></sup><sup id="fnref:underscore"><a class="footnote-ref" href="#fn:underscore" rel="footnote">4</a></sup><sup id="fnref:MDN:isNaN"><a class="footnote-ref" href="#fn:MDN:isNaN" rel="footnote">6</a></sup>.</p>
<div class="highlight"><pre><span class="k">typeof</span> <span class="kc">NaN</span>  <span class="c1">// &quot;number&quot;</span>

<span class="kc">NaN</span> <span class="o">===</span> <span class="kc">NaN</span> <span class="c1">// false</span>
</pre></div>


<p>В underscore.js есть пример проверки на <code>NaN</code> <sup id="fnref:underscore"><a class="footnote-ref" href="#fn:underscore" rel="footnote">4</a></sup> (тоже самое в lodash):</p>
<div class="highlight"><pre><span class="nx">_</span><span class="p">.</span><span class="nb">isNaN</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">obj</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="nx">obj</span><span class="p">)</span> <span class="o">===</span> <span class="s1">&#39;[object Number]&#39;</span> <span class="o">&amp;&amp;</span> <span class="nx">obj</span> <span class="o">!==</span> <span class="o">+</span><span class="nx">obj</span><span class="p">;</span>
<span class="p">};</span>

<span class="nx">_</span><span class="p">.</span><span class="nb">isNaN</span><span class="p">(</span><span class="kc">NaN</span><span class="p">)</span>    <span class="c1">// true</span>
</pre></div>


<p>Есть также встроенная функция <strong>isNaN()</strong>, но она работает некорректно <sup id="fnref:MDN:isNaN"><a class="footnote-ref" href="#fn:MDN:isNaN" rel="footnote">6</a></sup>:</p>
<div class="highlight"><pre><span class="nb">isNaN</span><span class="p">(</span><span class="kc">NaN</span><span class="p">)</span>          <span class="c1">// true</span>
<span class="nb">isNaN</span><span class="p">(</span><span class="kc">undefined</span><span class="p">)</span>    <span class="c1">// true</span>
<span class="nb">isNaN</span><span class="p">({})</span>           <span class="c1">// true</span>
<span class="nb">isNaN</span><span class="p">(</span><span class="k">new</span> <span class="nb">Date</span><span class="p">().</span><span class="nx">toString</span><span class="p">())</span>   <span class="c1">// true</span>
<span class="nb">isNaN</span><span class="p">(</span><span class="s2">&quot;words&quot;</span><span class="p">)</span>      <span class="c1">// true</span>
</pre></div>


<p>В новом стандарте <em>ECMAScript 6 (Harmony)</em> предложена новая функция <code>Number.isNaN()</code> избавленная от этих недостатков. Вот её полифилл <sup id="fnref:MDN:Number.isNaN"><a class="footnote-ref" href="#fn:MDN:Number.isNaN" rel="footnote">7</a></sup>:</p>
<div class="highlight"><pre><span class="nb">Number</span><span class="p">.</span><span class="nb">isNaN</span> <span class="o">=</span> <span class="nb">Number</span><span class="p">.</span><span class="nb">isNaN</span> <span class="o">||</span> <span class="kd">function</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">return</span> <span class="k">typeof</span> <span class="nx">value</span> <span class="o">===</span> <span class="s1">&#39;number&#39;</span> <span class="o">&amp;&amp;</span> <span class="nb">isNaN</span><span class="p">(</span><span class="nx">value</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>


<p>http://javascript.info/tutorial/memory-leaks
https://learn.javascript.ru/memory-leaks
https://www.smashingmagazine.com/2012/11/writing-fast-memory-efficient-javascript/
http://www.html5rocks.com/en/tutorials/speed/v8/
http://www.developersonthe.net/ru/qa/question_id/63-Obhod-elementov-massiva-Kak-eto-sdelat-v-JavaScript/
http://olmokhov.livejournal.com/21523.html</p>
<h2>Преобразование типов</h2>
<div class="highlight"><pre><span class="p">[]</span><span class="o">+</span><span class="p">[]</span>   <span class="c1">// &quot;&quot;</span>
<span class="p">[]</span><span class="o">+</span><span class="p">{}</span>   <span class="c1">// &quot;[object Object]&quot;</span>
<span class="p">{}</span><span class="o">+</span><span class="p">[]</span>   <span class="c1">// 0</span>
<span class="p">{}</span><span class="o">+</span><span class="p">{}</span>   <span class="c1">// NaN</span>

<span class="p">[]</span><span class="o">-</span><span class="p">[]</span>   <span class="c1">// 0</span>
<span class="p">[]</span><span class="o">-</span><span class="p">{}</span>   <span class="c1">// NaN</span>
<span class="p">{}</span><span class="o">-</span><span class="p">[]</span>   <span class="c1">// -0</span>
<span class="p">{}</span><span class="o">-</span><span class="p">{}</span>   <span class="c1">// NaN</span>
</pre></div>


<p>Там где вначале строки стоит <code>{</code> -- там левая фигурная скобка рассматривается как начало блока кода.</p>
<div class="highlight"><pre><span class="o">&gt;</span> <span class="kc">undefined</span>
<span class="kc">undefined</span>

<span class="o">&gt;</span> <span class="p">{}</span>
<span class="kc">undefined</span>

<span class="o">&gt;</span> <span class="p">{}</span><span class="o">+</span><span class="mi">1</span>    <span class="c1">// {} -- null?</span>
<span class="mi">1</span>

<span class="o">&gt;</span> <span class="kc">undefined</span><span class="o">+</span><span class="mi">1</span>
<span class="kc">NaN</span>

<span class="o">&gt;</span> <span class="p">{}</span><span class="o">+</span><span class="s1">&#39;1&#39;</span>    <span class="c1">// {} -- wtf??!</span>
<span class="mi">1</span>

<span class="o">&gt;</span> <span class="kc">undefined</span><span class="o">+</span><span class="s1">&#39;1&#39;</span>
<span class="s2">&quot;undefined1&quot;</span>

<span class="o">&gt;</span> <span class="p">{}</span><span class="o">+</span><span class="kc">null</span>    <span class="c1">// {} -- null?</span>
<span class="mi">0</span>

<span class="o">&gt;</span> <span class="kc">undefined</span><span class="o">+</span><span class="kc">null</span>
<span class="kc">NaN</span>
</pre></div>


<p>https://learn.javascript.ru/while-for</p>
<p>Последняя запятая в массивах объектов, проверить на разряженных массивах</p>
<div class="footnote">
<hr />
<ol>
<li id="fn:type-detection">
<p><a href="http://javascript.info/tutorial/type-detection">javascript.info</a>&#160;<a class="footnote-backref" href="#fnref:type-detection" rev="footnote" title="Jump back to footnote 1 in the text">&#8617;</a></p>
</li>
<li id="fn:C-null">
<p><a href="http://www.2ality.com/2013/10/typeof-null.html">The history of “typeof null”</a>&#160;<a class="footnote-backref" href="#fnref:C-null" rev="footnote" title="Jump back to footnote 2 in the text">&#8617;</a></p>
</li>
<li id="fn:ECMA262">
<p><a href="http://www.ecma-international.org/ecma-262/5.1/Ecma-262.pdf">Спецификация ECMA-262, п. 4.3.20 и 8.5</a>&#160;<a class="footnote-backref" href="#fnref:ECMA262" rev="footnote" title="Jump back to footnote 3 in the text">&#8617;</a></p>
</li>
<li id="fn:underscore">
<p><a href="http://underscorejs.org/docs/underscore.html">Аннотированный код underscore.js</a>&#160;<a class="footnote-backref" href="#fnref:underscore" rev="footnote" title="Jump back to footnote 4 in the text">&#8617;</a></p>
</li>
<li id="fn:MDN:null">
<p><a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/null">Документация MDN по <strong>null</strong></a>&#160;<a class="footnote-backref" href="#fnref:MDN:null" rev="footnote" title="Jump back to footnote 5 in the text">&#8617;</a></p>
</li>
<li id="fn:MDN:isNaN">
<p><a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/isNaN">Документация MDN по <strong>isNaN()</strong></a>&#160;<a class="footnote-backref" href="#fnref:MDN:isNaN" rev="footnote" title="Jump back to footnote 6 in the text">&#8617;</a></p>
</li>
<li id="fn:MDN:Number.isNaN">
<p><a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN">Документация MDN по <strong>Number.isNaN()</strong></a>&#160;<a class="footnote-backref" href="#fnref:MDN:Number.isNaN" rev="footnote" title="Jump back to footnote 7 in the text">&#8617;</a></p>
</li>
<li id="fn:MDN:Array.length">
<p><a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Array#Relationship_between_length_and_numerical_properties">Документация MDN по <strong>Array.length</strong></a>&#160;<a class="footnote-backref" href="#fnref:MDN:Array.length" rev="footnote" title="Jump back to footnote 8 in the text">&#8617;</a></p>
</li>
</ol>
</div>
        </div>
    </article>
    <footer class="content">
        <span>(c) 2016 
            Николай Волков</span>
        <span class="separator">::</span>
            <span class="social"><a href="https://bitbucket.org/FRiMN/">Bitbucket</a></span>
            <span class="social"><a href="https://github.com/FRiMN">GitHub</a></span>
    </footer>

    <script type="text/javascript">
        var $headers = $("body > article > .text h2");
        var $mainHeader = $("body > article > header");
        

        // Подготовка списка содержания
        var id = 0;
        var toc_list = []
        $headers.each(function (index) {
            id = index+1;
            $(this).attr('id', id);
            toc_list.push([id, $(this).text()]);
        })


        // Генерация боковой панели
        var compiled = _.template('<div class="toc"> <h4>Содержание</h4> <ol> <% _.each(list, function(item) { %> <li><a href="#<%= item[0] %>"><%= item[1] %></a></li> <% }) %> </ol> <a class="up" href="#">Наверх</a> </div>');

        var tocContainer = compiled({list : toc_list});

        var $tocContainer = $(tocContainer);
        $("body > article").append($tocContainer);


        // Позиционирование боковой панели
        var reposition = function() {
            if ( $(window).scrollTop() < $mainHeader.height() ) {
                $tocContainer.css('top', $mainHeader.height() - $(window).scrollTop());
            } else {
                $tocContainer.css('top', '');
            }
        }
        reposition();
        $(window).scroll(reposition);
        

        // Установка анкоров на заголовки
        $headers.each(function(index) {
            $(this).prepend('<span class="anchor-link"><a href="#'+$(this).attr('id')+'">#</a></span>')
        });
    </script>
</body>
</html>