<!doctype html>
<html>
<head>
    <title>Freezeman Blog :: Магия на кончиках пальцев</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/images/Chi's Sweet Home.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <meta name='yandex-verification' content='6b08ea9986ab5946' />
    
    <link rel="stylesheet" href="/assets/css/main.css" />

    <script type="text/javascript" src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/assets/js/fuse.min.js"></script>
</head>
<body>
    <h4 class="site-name">Blog</h4>
    <article>
        <header style="background-image: url(
                /assets/images/code-1.jpg
        );
            background-position: center;
        ">
            <div class="content">
                <h1>Список статей</h1>
            </div>
        </header>

        <div class="content">
            <input type="text" class="search" placeholder="Search it!"></input>
        
            <div class="count"><small>Найдено <b><span class="num">6</span></b> статей.</small></div>
            <ol class="results"> 
                <li><a href="/stop_programming.html">
                    <h3>Кончай программировать!</h3>
                    <span class="date">14 Apr 2016</span>
                    О ленивых программистах
                    <p><small>
                        <span class="category">library</span>
                        <span class="tags">перевод, valve, facepunch, Ньюман</span>
                    </small></p>
                </a></li>
                 
                <li><a href="/jspure.html">
                    <h3>Ваши функции действительно чистые?</h3>
                    <span class="date">07 Oct 2016</span>
                    О чистоте функций в JavaScript
                    <p><small>
                        <span class="category">library</span>
                        <span class="tags">перевод, pure, js, Staltz</span>
                    </small></p>
                </a></li>
                 
                <li><a href="/dark_side_javascript.html">
                    <h3>Тёмная сторона JavaScript</h3>
                    <span class="date">13 Mar 2016</span>
                    Баги и малоизвестные особенности JavaScript
                    <p><small>
                        <span class="category">tutorial</span>
                        <span class="tags">bugs, js</span>
                    </small></p>
                </a></li>
                 
                <li><a href="/generate_hash_string.html">
                    <h3>Генерация соли</h3>
                    <span class="date">04 May 2016</span>
                    Генерация строк из случайной последовательности символов (соли и т.п.)
                    <p><small>
                        <span class="category">tutorial</span>
                        <span class="tags">hash, unix, sh, password</span>
                    </small></p>
                </a></li>
                 
                <li><a href="/fabrics.html">
                    <h3>Про фреймворки</h3>
                    <span class="date">13 Apr 2016</span>
                    Несколько статей о пробемах сложности и фреймворков
                    <p><small>
                        <span class="category">library</span>
                        <span class="tags">frameworks, Braithwaite, fun</span>
                    </small></p>
                </a></li>
                 
                <li><a href="/auth_tokens_microservices.html">
                    <h3>Об авторизации, токенах и микросервисах</h3>
                    <span class="date">18 Jan 2017</span>
                    Несколько видео об авторизации, токенах (JWT), API и безопасности в вебе
                    <p><small>
                        <span class="category">video</span>
                        <span class="tags">microservices, xss, java, security, oauth, openid, csrf, js, token, api, jwt</span>
                    </small></p>
                </a></li>
                </ol>
        </div>
    </article>
    <footer class="content">
        <span>&copy; 2016
            Николай Волков</span>
        <span class="separator">::</span>
        <a href="https://github.com/FRiMN">GitHub</a>
        <span class="separator">::</span>
        <a href="https://bitbucket.org/FRiMN/">Bitbucket</a>
    </footer>

    <script type="text/javascript">
        // QueryString
        var qs = (function(a) {
            if (a == "") return {};
            var b = {};
            for (var i = 0; i < a.length; ++i)
            {
                var p=a[i].split('=', 2);
                if (p.length === 1)
                    b[p[0]] = "";
                else
                    b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
            return b;
        })(window.location.search.substr(1).split('&'));


        var articles = [
            {
                title: "Кончай программировать!", 
                category: "library", 
                date: "14 Apr 2016", 
                url: "/stop_programming.html", 
                summary: "О ленивых программистах", 
                tags: "перевод, valve, facepunch, Ньюман", 
            },
        
            {
                title: "Ваши функции действительно чистые?", 
                category: "library", 
                date: "07 Oct 2016", 
                url: "/jspure.html", 
                summary: "О чистоте функций в JavaScript", 
                tags: "перевод, pure, js, Staltz", 
            },
        
            {
                title: "Тёмная сторона JavaScript", 
                category: "tutorial", 
                date: "13 Mar 2016", 
                url: "/dark_side_javascript.html", 
                summary: "Баги и малоизвестные особенности JavaScript", 
                tags: "bugs, js", 
            },
        
            {
                title: "Генерация соли", 
                category: "tutorial", 
                date: "04 May 2016", 
                url: "/generate_hash_string.html", 
                summary: "Генерация строк из случайной последовательности символов (соли и т.п.)", 
                tags: "hash, unix, sh, password", 
            },
        
            {
                title: "Про фреймворки", 
                category: "library", 
                date: "13 Apr 2016", 
                url: "/fabrics.html", 
                summary: "Несколько статей о пробемах сложности и фреймворков", 
                tags: "frameworks, Braithwaite, fun", 
            },
        
            {
                title: "Об авторизации, токенах и микросервисах", 
                category: "video", 
                date: "18 Jan 2017", 
                url: "/auth_tokens_microservices.html", 
                summary: "Несколько видео об авторизации, токенах (JWT), API и безопасности в вебе", 
                tags: "microservices, xss, java, security, oauth, openid, csrf, js, token, api, jwt", 
            },
        ];

        var options = {
            keys: ['title', 'category', 'tags', 'summary']
        }

        var fuzzy = new Fuse(articles, options);

        var search = function(searchString) {
            var searchString = searchString || '';

            $(".results").html('');

            var result = articles;
            if (searchString.length > 0) {
                var result = fuzzy.search(searchString);
            }

            var compiled = _.template('<% _.each(items, function(item) { %> \
                        <li><a href="<%= item.url %>"> \
                            <h3><%= item.title %></h3> \
                            <span class="date"><%= item.date %></span> \
                            <%= item.summary %> \
                            <p><small> \
                                <span class="category"><%= item.category %></span> \
                                <span class="tags"><%= item.tags %></span> \
                            </small></p> \
                        </a></li> \
                    <% }) %>');

            var filter = compiled({ items: result });

            var $filter = $(filter);
            $(".results").append($filter);

            $('.count .num').text( result.length )
        }

        $('.search').val( qs["q"] );
        search( qs["q"] );

        $(".search").on('input', function(event) {
            search( $(this).val() );
        });
    </script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36832450 = new Ya.Metrika({
                    id:36832450,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36832450" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
