<!doctype html>
<html>
<head>
    <title>Резюме</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/images/Chi's Sweet Home.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/pygment.css" />

    

    <script type="text/javascript" src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://yastatic.net/underscore/1.8.3/underscore.js"></script>
</head>
<body>
    <h4 class="site-name"><a href="/index.html">Магия на кончиках пальцев</a></h4>
    <article>
        <header style="background-image: url(
                /assets/images/illuminator.jpg
            );
                
            background-position: center center;
        ">
            <div class="content">
                <h1>Резюме</h1>
                

                <div class="summary">
                    
                </div>
            </div>
        </header>
        
        <div class="text content">
            <div class="info">
            
                <div>Публикация от
                    <b><time pubdate datetime="2022-09-07T00:00:00">
                        07 Sep 2022 
                    </time></b>
                </div>
                
            
            
                <div class="tags">
                    
                        #<a href="/index.html?q=%23special">special</a>
                    
                        #<a href="/index.html?q=%23resume">resume</a>
                    
                </div>
            
            
                <div class="category">
                    /<a href="/index.html?q=%2Fspecial">special</a>
                </div>
            
            </div>

            <h1>Волков Николай</h1>
<p>29.06.1989<br>
Красноярск, Россия</p>
<p>+7 (913) 512-92-89<br>
+381 62 1929188<br>
Telegram: @nvolkov <br>
Viber, WhatsApp<br>
freezemandix@yandex.ru<br>
nick.volkov@techusage.com<br>
https://github.com/FRiMN <br>
https://gitlab.com/NVolkov <br>
https://frimn.github.io/</p>
<p><em>Для связи предпочтительней использовать Telegram -- могу не ответить на звонок с незнакомого номера, почта разбирается не регулярно</em></p>
<hr />
<h2>Профиль</h2>
<p>Опытный Backend программист на Python. Более 10 лет опыта в программировании.
Знаю и практикую тестирование.
Есть опыт разработки как web, так и консольных и GUI приложений.
Есть опыт работы с разными базами данных и разными технологиями.
Также есть опыт в поточной обработке данных (в том числе когда данные не помещаются в память).
Работал с бигдатой.
Последнее время погружен в блокчейн, криптовалюты и криптобиржи.
Разрабатывал системы построения графиков, в том числе с аппроксимацией.
Интересуюсь разработкой компьютерных игр и вообще много чем в IT.</p>
<h2>Образование</h2>
<p>Красноярск, СФУ, Политех.<br>
Окончил в 2014 году.<br>
Инженер.<br>
Специальность: Электрический транспорт.</p>
<h2>Места работы</h2>
<h3>Dex.guru, Belgrade, Serbia</h3>
<p><em>03.2022 - настоящее время</em></p>
<p><strong>Программист Backend</strong></p>
<p>Продолжаю работать в компании, разрабатывающей трейдинговую платформу для трейдеров на децентрализованных криптовалютных биржах (AMM).</p>
<hr />
<h3>Dex.guru, LA, USA</h3>
<p><em>02.2021 - 03.2022</em></p>
<p><strong>Программист Backend</strong></p>
<p>Работал в компании, разрабатывающей трейдинговую платформу для трейдеров на децентрализованных криптовалютных биржах (AMM).
Работал с самого запуска.
Разработал архитектуру бэкенда, основанную на onion-архитектуре.
Интернациональная команда, широкое использование английского языка.
Новые для меня технологии: Kubernetes, ELK, Web3, blockchain.</p>
<hr />
<h3>ТелекомКонсалтинг, Красноярск, Россия</h3>
<p><em>05.2019 - 02.2021</em></p>
<p><strong>Программист Full-stack</strong></p>
<p>Работал на должности Full-stack программиста в небольшой IT-команде. Разрабатывали различные сервисы и поддерживали уже существующие:
ТелекомКонсалтинг, seomator.com, Selenitron (форк гугловского rendertron), агрегатор госзакупок для США, электронное табло для транспортной сети LA.
Новые для меня технологии: node.js, Camunda, Docker и др.</p>
<hr />
<h3>Nazya, Красноярск, Россия</h3>
<p><em>02.2017 - 05.2019</em></p>
<p><strong>Программист Full-stack</strong></p>
<p>Работал на должности Full-stack программиста в крупном онлайн-магазине (на самом деле посредники Taobao) nazya.com.
Legacy: Django 1.5, очень крупная кодовая база, сложная и запутанная архитектура, 
код не покрыт тестами, документации нет, местами даже почти биг-дата (около 100 млн товаров в базе, порядка 1Тб). 
Получил хороший опыт реверсинжиниринга.
В обязанности входила вся работа в IT-области: от исправления багов в коде до поддержания работы серверов.
Мной был полностью переработан механизм работы корзины на сайте.
Также, один из парсеров вынесен в отдельный сервис на Scrapy, общающийся с сайтом через очередь сообщений на Redis.
Большой зоопарк технологий: Python, Postgres, Redis, ClickHouse, ElasticSearch, Vue.js, Django, nginx, LESS, Zabbix, Sentry, Celery, Scrapy.</p>
<hr />
<h3>Квартек, Красноярск, Россия</h3>
<p><em>04.2016 - 02.2017</em></p>
<p><strong>Старший программист, архитектор</strong></p>
<p>В течении 5 месяцев был запущен сайт-площадка посуточной аренды жилья kvartek.ru. 
Сайт работает на PHP с использованием фреймворка Yii 2 (фронтенд) через API, реализованном на Flask (бэкэнд). 
Бэкенд архитектурно реализован в виде группы микросервисов, общающихся друг с другом через REST API.
Была написана с нуля админка для управления данными, просмотра статистики и 
премодерации объектов аренды (с защитой от одновременной обработки объекта разными модераторами). 
Реализована возможность откатиться на любое известное состояние объекта аренды. 
Привилегированные пользователи (сотрудники) отделены от обычных пользователей.
Автоматическое определение положения объекта аренды на карте по адресу и наоборот через API Яндекс.Карт. 
Реализована возможность залогиниться на сайте используя любой известный номер телефона или email.
Также в обязанности входили: организация процесса разработки и наставничество.
Используемые технологии: Flask, Yii 2, Bootstrap, Backbone.js, Knockout.js, MongoDB, Redis, nginx, Celery.</p>
<hr />
<h3>Omega Design, Красноярск, Россия</h3>
<p><em>01.2015 - 02.2016</em></p>
<p><strong>Верстальщик</strong></p>
<p>Типичная веб-студия. Работал верстальщиком, натягивал верстку на Yii (PHP).
В том числе делал верстку для IE8 (a9project.ru).</p>
<hr />
<h3>Бибинет, Красноярск, Россия</h3>
<p><em>10.2012 - 10.2014</em></p>
<p><strong>Младший программист</strong></p>
<p>Работал младшим программистом на сайте по поиску автозапчастей bibinet.ru (интегрирован на 24.avto.ru).
Писал внутренние утилиты на Perl и Python. Занимался написанием регулярных выражений для парсинга прайс-листов компаний. 
Разработал алгоритм автоматического распознавания названий марок автомобилей на основе Soundex и Metaphone.</p>
<p>===</p>
        </div>
    </article>
    <footer class="content">
        <span>&copy; 2016
            Николай Волков</span>
        <span class="separator">::</span>
        <a href="https://github.com/FRiMN">GitHub</a>
        <span class="separator">::</span>
        <a href="https://bitbucket.org/FRiMN/">Bitbucket</a>
    </footer>

    <script type="text/javascript">
        var $headers = $("body > article > .text h2, body > article > .text h3");
        var $headersH3 = $("body > article > .text h3");
        var $mainHeader = $("body > article > header");
        

        // Подготовка списка содержания
        var id = 0;
        var toc_list = []
        $headers.each(function (index) {
            id = index+1;
            $this = $(this);
            $(this).attr('id', id);

            var level = 2;
            _.each($headersH3, function($item) {
                if ( $this[0].id === $item.id ) {
                    level = 3;
                }
            })
            
            // $(this).data('level', level);
            toc_list.push([id, $(this).text(), level]);
        })


        // Генерация боковой панели
        var tocT = _.template('\
            <div class="toc">\
                <h4>Содержание</h4>\
                <% var prevlevel = 2; %>\
                <ol> <% _.each(list, function(item) { %>\
                    <% if (item[2] === 3) { %>\
                        <% if (prevlevel === 2) { %>\
                            <ol>\
                        <% prevlevel = 3; } %>\
                        <li class="level-3"><a href="#<%= item[0] %>"><%= item[1] %></a></li>\
                    <% } else { %>\
                        <% if (prevlevel === 3) { %>\
                            </ol>\
                        <% prevlevel = 2; } %>\
                        <li><a href="#<%= item[0] %>"><%= item[1] %></a></li>\
                    <% } %>\
                <% }) %> </ol>\
                <a class="up" href="#">Наверх</a>\
            </div>\
        ');

        if (toc_list.length > 1) {
            var tocContainer = tocT({list : toc_list});

            var $tocContainer = $(tocContainer);
            $("body > article").append($tocContainer);


            // Позиционирование боковой панели
            var reposition = function() {
                if ( $(window).scrollTop() < $mainHeader.height() ) {
                    $tocContainer.css('top', $mainHeader.height() - $(window).scrollTop());
                    $tocContainer.css('max-height', 
                        $(window).height() - $mainHeader.height() + $(window).scrollTop() - 16);
                } else {
                    $tocContainer.css('top', '');
                    $tocContainer.css('max-height', '98%');
                }
            }
            reposition();
            $(window).scroll(reposition);
        }
        

        // Установка анкоров на заголовки
        $headers.each(function(index) {
            $(this).prepend('<span class="anchor-link"><a href="#'+$(this).attr('id')+'">#</a></span>')
        });


        // Копирование сносок к тексту
        var footnotesList = {};
        var $footnotes = $("div.footnote li > p");
        $footnotes.each(function(index) {
            footnotesList[ $(this).find('a.footnote-backref').attr('href') ] = $(this);
        });

        var paragraphs = {}
        $('a.footnote-ref').each(function(index) {
            var id;
            var fnLink = $(this).parent('sup').attr('id');
            var $container = $(this).parents('p');

            if ( $container.children('.side-footnotes').length === 0 ) {
                id = _.uniqueId("sfn-");
                $container.append('<div id="'+id+'" class="side-footnotes">');
            } else {
                id = $container.children('.side-footnotes').attr('id');
            }
            paragraphs[id] = paragraphs[id] || [];
            paragraphs[id].push(fnLink);
            paragraphs[id] = _.uniq(paragraphs[id]);
        })

        _(paragraphs).each(function(value, key, plist) {
            var $container = $('#'+key);
            var $p = $container.parent();
            var fnnums = [];

            $p.find('a.footnote-ref').each(function() {
                fnnums.push( $(this).parent('sup') );
            }).hover(function() {
                $container.addClass('hover');
            }, function() {
                $container.removeClass('hover');
            });;

            _(value).each(function(element, index, fnlist) {
                var fnnum = _(fnnums).find(function(item) {
                    return item.attr('id') === element;
                });
                var E = $( footnotesList[ '#'+element ].clone() );
                E.prepend('<span class="fnnum">'+fnnum.children('a.footnote-ref').text()+'</span>');
                E.find('a.footnote-backref').remove();
                $container.append( E );
                fnnum.hover(function() {
                    E.find('a').addClass('hover');
                }, function() {
                    E.find('a').removeClass('hover');
                });
            })
        })
    </script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36832450 = new Ya.Metrika({
                    id:36832450,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36832450" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
