<!doctype html>
<html lang="ru">
<head>
    <title>Second</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    
    <link rel="stylesheet" href="/theme/css/main.css" />
    <link rel="stylesheet" href="/theme/css/pygment.css" />

    <script type="text/javascript" src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
</head>
<body>
    <h4 class="site-name">Магия на кончиках пальцев</h4>
    <article>
        <header style="background-image: url(
                /theme/images/stardust.jpeg
        );
            background-position: center center;
        ">
            <div class="content">
                <h1>Second</h1>

                <div class="summary"><p>Информация о Miller</p></div>
            </div>
        </header>
        
        <div class="text content">
            <div class="info">
                <time pubdate="pubdate" datetime="2016-03-13T21:50:00+07:00">
                    13 
                    марта, 2016
                        ...<span class="last_updated">
                            8
                            апр., 2016
                        </span>
                </time>
                <div class="tags">
                        #<a href="/index.html?q=%23bugs">bugs</a>
                        #<a href="/index.html?q=%23miller">miller</a>
                </div>
                <div class="category">
                    /<a href="/index.html?q=%2Fspecial">special</a>
                </div>
            </div>

            <h2>List ul</h2>
<ul>
<li>first</li>
<li>Second</li>
<li>Third</li>
</ul>
<h2>List ol</h2>
<ol>
<li>first</li>
<li>Second</li>
<li>Third<ul>
<li>fourth</li>
<li>fifth</li>
</ul>
</li>
<li>Six<ul>
<li>seven</li>
<li>eight</li>
</ul>
</li>
</ol>
        </div>
    </article>
    <footer class="content">
        <span>(c) 2016 Николай Волков</span>
        <span class="separator">::</span>
            <span class="social"><a href="https://bitbucket.org/FRiMN/">Bitbucket</a></span>
            <span class="social"><a href="https://github.com/FRiMN">GitHub</a></span>
    </footer>

    <script type="text/javascript">
        var $headers = $("body > article > .text h2");
        var $mainHeader = $("body > article > header");
        

        // Подготовка списка содержания
        var id = 0;
        var toc_list = []
        $headers.each(function (index) {
            id = index+1;
            $(this).attr('id', id);
            toc_list.push([id, $(this).text()]);
        })


        // Генерация боковой панели
        var compiled = _.template('<div class="toc"> <h4>Содержание</h4> <ol> <% _.each(list, function(item) { %> <li><a href="#<%= item[0] %>"><%= item[1] %></a></li> <% }) %> </ol> <a class="up" href="#">Наверх</a> </div>');

        var tocContainer = compiled({list : toc_list});

        var $tocContainer = $(tocContainer);
        $("body > article").append($tocContainer);


        // Позиционирование боковой панели
        var reposition = function() {
            if ( $(window).scrollTop() < $mainHeader.height() ) {
                $tocContainer.css('top', $mainHeader.height() - $(window).scrollTop());
            } else {
                $tocContainer.css('top', '');
            }
        }
        reposition();
        $(window).scroll(reposition);
        

        // Установка анкоров на заголовки
        $headers.each(function(index) {
            $(this).prepend('<span class="anchor-link"><a href="#'+$(this).attr('id')+'">#</a></span>')
        });
    </script>
</body>
</html>